.transactions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  gap: 0; /* Ruimte tussen kaarten */
}

app-transaction-card {
  display: block;
  width: 100%;
  margin-bottom: 12px; /* Ruimte tussen de verschillende transactiegroepen */
}

.page-title {
  font-family: serif; /* Match met je screenshot */
  padding-top: 40px;
  margin-bottom: 30px;
  color: var(--text-dark);
}

app-transaction-card {
  display: block; /* Essentieel voor breedte-berekening */
}